<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Play and Pay</title>
    {% load bootstrap4 %} {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <!-- bootstrap-datepicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>

  <body>
    <main role="main">
      {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'transactions:index' %}">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon">  </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{% url 'chat_room:index' %}" class="nav-link">
                  <img src="{% static 'img/credit-card.svg' %}" width="32" height="32"/>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'lesson_planner:index' %}" class="nav-link">
                  <img src="{% static 'img/journals.svg' %}" width="32" height="32"/>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img src="{% static 'img/calendar3.svg' %}" width="32" height="32"/>
                </a>
              </li>
              <li class="nav-item pl-4 my-auto">
                <a href="{% url 'users:log_out' %}" class="btn btn-outline-secondary" role="button">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% endif %}
      <div class="container pt-3">
      {% block content %} {% endblock content %}
      </div>
    </main>
  </body>
</html>