{% extends "transactions/base.html" %} {% load bootstrap4 %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'users:log_out' %}">log out</a>
<br>
<a href="{% url 'chat_room:index' %}">chat rooms</a>
<div class="card">
  <form action="{% url 'transactions:index' %}" method="POST" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn" type="submit" value="Submit">
  </form>
</div>
{% else %}
<a href="{% url 'users:sign_up' %}">sign up</a>
<br>
<a href="{% url 'users:login' %}">login</a>
{% endif %}
{% endblock content %}