{% extends "chat_room/index.html" %} {% load bootstrap4 %}

{% block room %}
{% for transaction in transactions %}
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>${{ transaction.amount }}</h3>
    </div>
    <div class="card-text">
      <p>type: {{ transaction.send_request }}</p>
      {% if transaction.note %}
      <p>note:</p>
      <div class="card">
        <p> {{ transaction.note|escape|linebreaks }}</p>
      </div>
      {% endif %}
      {% if transaction.status == "pending" %}
        {% if transaction.last_sent_by != user %}
        <a href="{% url 'transactions:edit_transaction' transaction.id %}">confirm or deny</a>
        {% else %}
        <p>waiting for confirmation...</p>
        {% endif %}
      {% elif transaction.status == "confirmed" %}
      <p>confirmed.</p>
      {% else %}
      <p>denied.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock room %}