{% extends "transactions/base.html" %} {% load bootstrap4 %}

{% block content %}
<a href="{% url 'transactions:index' %}">index</a>
{% for user in users %}
<br>
<a href="{% url 'chat_room:room' user.id %}">{{ user.username }}</a>
{% endfor %}
{% for transaction in transactions %}
<div class="card">
  <p>${{ transaction.amount }}</p>
  <p>seller: {{ transaction.seller }}</p>
  <p>buyer: {{ transaction.buyer }} </p>
  <p>sent by: {{ transaction.last_sent_by }}</p>
  {% if transaction.status == "pending" %}
    {% if transaction.last_sent_by != user %}
    <a href="{% url 'transactions:edit_transaction' transaction.id %}">confirm or deny</a>
    {% else %}
    <p>waiting for confirmation...</p>
    {% endif %}
  {% elif transaction.status == "confirmed" %}
  <p>confirmed.</p>
  {% else %}
  <p>denied.</p>
  {% endif %}
</div class="card">
{% endfor %}
{% endblock content %}