{% extends "transactions/base.html" %} {% load bootstrap4 %}

{% block content %}
<a href="{% url 'lesson_planner:create_lesson' %}">create_lesson</a>
<br>
<a href="{% url 'lesson_planner:request_lesson' %}">request_lesson</a>
{% if requested_lessons %}
<p>requested lessons</p>
{% for lesson in requested_lessons %}
<div class="pb-2">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>{{ lesson.name }}</h3>
      </div>
      <div class="card-subtitle">
        <h6>{{ lesson.lesson_datetime.date }} at {{ lesson.lesson_datetime.time }}</h6>
      </div>
    </div>
    <div class="card-body py-2">
      <div class="card-text">
        <p>teacher: {{ lesson.teacher }}</p>
        <p class="mb-1">other students: </p>
        <ul class="mb-0">
          {% for student in lesson.students.all %}
          <li>
            <p>{{ student.username }}</p>
          </li>
          {% endfor %}
        </ul>
        {% if lesson.amount %}
        <p>amount: ${{ lesson.amount }} / student</p>
        {% endif %}

        {% if lesson.repeat != lesson.RepeatChoices.NEVER %}
        <p>repeat: {{ lesson.repeat }}</p>
        <p>start date: {{ lesson.start_date}}</p>
        <p>end date: {{ lesson.end_date }}</p>
        {% endif %}

        <!-- TODO -->
        {% if user == lesson.teacher %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% if created_lessons %}
<p>created lessons</p>
{% for lesson in created_lessons %}
<div class="card">
  <p>{{ lesson.name }}</p>

  <p>teacher: {{ lesson.teacher }}</p>
  <p>students: </p>
  <ul>
    {% for student_status in lesson.studentstatus_set.all %}
    <li>
      <p>{{ student_status.student.username }} 
        {% if student_status.status == "pending" and student_status.student == user %}
        <form action="{% url 'lesson_planner:index' student_status.id %}" method="POST">
          {% csrf_token %}
          <input class="btn" type="submit" name="confirm_student" value="Confirm">
          <input class="btn" type="submit" name="deny_student" value="Deny">
        </form>
        {% else %}
        <small>{{ student_status.status }}</small>
        {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>

  <p>date and time: {{ lesson.lesson_datetime }}</p>

  {% if lesson.amount %}
  <p>amount: ${{ lesson.amount }} / student</p>

  <div class="container">
    {% for transaction in lesson.transaction_set.all %}
    <div class="card">
      <p>student: {{ transaction.receiver }} </p>
      {% if transaction.status == "pending" %}
        {% if user == transaction.receiver %}
        <form action="{% url 'lesson_planner:index' transaction.id %}" method="POST">
          {% csrf_token %}
          <input class="btn" type="submit" name="confirm_transaction" value="Confirm">
          <input class="btn" type="submit" name="deny_transaction" value="Deny">
        </form>
        {% else %}
        <p>waiting for confirmation...</p>
        {% endif %}
      {% elif transaction.status == "confirmed" %}
      <p>confirmed.</p>
      {% else %}
      <p>denied.</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <p>repeat: {{ lesson.repeat }}</p>
  {% if lesson.repeat != lesson.RepeatChoices.NEVER %}
  <p>start date: {{ lesson.start_date}}</p>
  <p>end date: {{ lesson.end_date }}</p>
  {% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock content %}